<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687078756305-4442hk34c6m6it5tkls10p6balf7esqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687078756305-4442hk34c6m6it5tkls10p6balf7esqc</string>
	<key>API_KEY</key>
	<string>AIzaSyACofHuKr8bfUo1NDJF1aqfp1-Qfg4t96w</string>
	<key>GCM_SENDER_ID</key>
	<string>687078756305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imatthio.hospitalapp</string>
	<key>PROJECT_ID</key>
	<string>pushnotifyhospital</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifyhospital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687078756305:ios:02e84ae4d07c3f189d9af0</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotifyhospital.firebaseio.com</string>
</dict>
</plist>